<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            {{{ markedCap intro }}}
        </div>
    </div>
</div>

<div class='uit-break'>
    <div class='uit-container'>
        <div class='uit-break-block' data-set='charges'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ chargesTitle }}</span></h3>
                {{{ marked charges }}}
            </div>
        </div>

        <div class='uit-break-block' data-set='sentenced'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ sentencedTitle }}</span></h3>
                {{{ marked sentenced }}}
            </div>
        </div>
    </div>
</div>

<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ sectionOneTitle }}</span></h3>
            {{{ markedCap sectionOne }}}
        </div>
    </div>
</div>

<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ sectionTwoTitle }}</span></h3>
            {{{ markedCap sectionTwo }}}
            {{{ marked copyAndPaste }}}
            {{{ marked sectionTwoContinued }}}
        </div>
    </div>
</div>

<div class='uit-break'>
    <div class='uit-container'>
        <div class='uit-break-block uit-break-block--first' data-set='nationality'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ nationalityTitle }}</span></h3>
                {{{ marked nationality }}}
            </div>
        </div>

       <div class='uit-break-block' data-set='gender'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ genderTitle }}</span></h3>
                {{{ marked gender }}}
                <div class='uit-note'>{{{ marked genderNote }}}</div>
            </div>
        </div>

        <div class='uit-break-block' data-set='previous'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ previousTitle }}</span></h3>
                {{{ marked previous }}}
            </div>
        </div>
    </div>
</div>

<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ sectionThreeTitle }}</span></h3>
            {{{ markedCap sectionThree }}}
        </div>
    </div>
</div>

<div class='uit-break'>
    <div class='uit-container'>
        <div class='uit-break-block uit-break-block--first' data-set='plea'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ pleaTitle }}</span></h3>
                {{{ marked plea }}}
            </div>
        </div>

        <div class='uit-break-block' data-set='sentence'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ sentenceTitle }}</span></h3>
                {{{ marked sentences }}}
            </div>
        </div>
    </div>
</div>

<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ sectionFourTitle }}</span></h3>
            {{{ markedCap sectionFour }}}
        </div>
    </div>
</div>


<div class='uit-canvas'>
    <div class='uit-canvas__labels'></div>
</div>