<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            {{{ markedCap introduction }}}
        </div>
    </div>
</div>

<div class='uit-break'>
    <div class='uit-container'>
        <div class='uit-break-block' data-set='charges'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ viz1Title }}</span></h3>
                {{{ marked viz1Text }}}
            </div>
        </div>

        <div class='uit-break-block' data-set='sentenced'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ viz2Title }}</span></h3>
                {{{ marked viz2Text }}}
                <div class='uit-note'>{{{ marked viz2Note }}}</div>
            </div>
        </div>
    </div>
</div>

<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <div class='uit-section uit-section--top'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ subhed1 }}</span></h3>
                <img class='uit-illo' src='{{ path }}/assets/spot--1.jpg' />
            </div>
            {{{ markedCap body1 }}}
        </div>
    </div>
</div>

<div class='uit-break'>
    <div class='uit-container'>
        <div class='uit-break-block uit-break-block--first' data-set='nationality'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ viz3Title }}</span></h3>
                {{{ marked viz3Text }}}
                {{> partials/key label='Number of migrants by country of origin' 1='400' 2='800' 3='1200' 4='1600' }}

                <div class='uit-note'>{{{ marked viz3Note }}}</div>
            </div>
        </div>

       <div class='uit-break-block' data-set='gender'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ viz4Title }}</span></h3>
                {{{ marked viz4Text }}}
                <div class='uit-note'>{{{ marked viz4Note }}}</div>
            </div>
        </div>

       <div class='uit-break-block' data-set='previousDeportation'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ viz5Title }}</span></h3>
                {{{ marked viz5Text }}}
            </div>
        </div>

       <div class='uit-break-block' data-set='location'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ viz6Title }}</span></h3>
                {{{ marked viz6Text }}}
                {{> partials/key label='Number of arrests by county' 1='100' 2='200' 3='300' 4='400' }}
            </div>
        </div>
    </div>
</div>

<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <div class='uit-section uit-section--top'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ subhed2 }}</span></h3>
                <img class='uit-illo' src='{{ path }}/assets/spot--2.jpg' />
            </div>
            {{{ markedCap body2 }}}
            <div class='uit-section uit-section--bottom'>
                <img class='uit-illo' src='{{ path }}/assets/spot--3.jpg' />
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ subhed3 }}</span></h3>
            </div>
            {{{ markedCap body3 }}}
            <div class='uit-section uit-section--bottom'>
                <img class='uit-illo' src='{{ path }}/assets/spot--4.jpg' />
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ subhed4 }}</span></h3>
            </div>
            {{{ markedCap body4 }}}
        </div>
    </div>
</div>

<div class='uit-break'>
    <div class='uit-container'>
        <div class='uit-break-block uit-break-block--first' data-set='outcome'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ viz7Title }}</span></h3>
                {{{ marked viz7Text }}}
            </div>
        </div>

        <div class='uit-break-block' data-set='sentence-misdemeanor'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ viz8Title }}</span></h3>
                {{{ marked viz8Text }}}
            </div>
        </div>

        <div class='uit-break-block' data-set='sentence-felony'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ viz8bTitle }}</span></h3>
                {{{ marked viz8bText }}}
            </div>
        </div>

        <div class='uit-break-block' data-set='sentence-average-misdemeanour'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ viz9Title }}</span></h3>
                {{{ marked viz9Text }}}
            </div>
        </div>

        <div class='uit-break-block' data-set='sentence-average-felony'>
            <div class='uit-content'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ viz10Title }}</span></h3>
                {{{ marked viz10Text }}}
            </div>
        </div>
    </div>
</div>

<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            <div class='uit-section uit-section--top'>
                <h3 class='uit-subhead'><span class='uit-subhead__inner'>{{ subhed5 }}</span></h3>
                <img class='uit-illo' src='{{ path }}/assets/spot--5.jpg' />
            </div>
            {{{ markedCap body5 }}}
        </div>
    </div>
</div>

<div class='uit-canvas'>
    <div class='uit-canvas__labels'></div>
</div>