<div class='uit-credits'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h3 class='uit-credits__title'>Credits</h3>
            <p class='uit-credits__section'><strong>Reporters</strong>Julia Carrie Wong, Olivia Solon, Margaret Katcher and Patrick Timmons</p>
            <p class='uit-credits__section'><strong>Reporting assistant</strong>Simon Campbell</p>
            <p class='uit-credits__section'><strong>Data Analysis</strong>Pamela Duncan</p>
            <p class='uit-credits__section'><strong>Design and development</strong>Sam Morris</p>

            <h3 class='uit-credits__title'>Methodology</h3>
            {{{ marked sidebar }}}
        </div>
    </div>
</div>
