<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h1 class='uit-header__headline' itemprop='headline'>
                <span class='uit-header__headline-kicker'>
                    <span class='english'>3,121 desperate journeys</span>
                    <span class='spanish'>3,121 viajes desesperados</span>
                </span>
                <span class='uit-header__headline-main'>
                    <span class='english'>Exposing a week of chaos under Trump's zero&nbsp;tolerance</span>
                    <span class='spanish'>Exponiendo una semana de caos bajo la 'tolerancia cero' de Trump</span>
                </span>
            </h1>
            <img class='uit-header__image uit-header__image--mobile' src='{{ path }}/assets/header.jpg' />
            <img class='uit-header__image uit-header__image--desktop' src='{{ path }}/assets/header.png' />
            <p class='uit-header__standfirst' itemprop='description'>{{{ splitCopy standfirst }}}</p>
            <p class='uit-header__toggle'>
                <span class='english'>Leer este artículo en español</span>
                <span class='spanish'>Read this article in English</span>
            </p>
            <p class='uit-header__byline'><a href='https://www.theguardian.com/profile/olivia-solon'>Olivia Solon</a>, <a href='https://www.theguardian.com/profile/julia-carrie-wong'>Julia Carrie Wong</a>, <a href='https://www.theguardian.com/profile/pamela-duncan'>Pamela Duncan</a>, <a href='https://www.theguardian.com/profile/maragret-katcher'>Margaret Katcher</a>, <a href='https://www.theguardian.com/profile/patrick-timmons'>Patrick Timmons</a>, <span class='english'>and</span><span class='spanish'>y</span> <a href='https://www.theguardian.com/profile/sam-morris'>Sam Morris</a></p>
            {{> partials/share }}
        </div>
    </div>
</div>
