<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h1 class='uit-header__headline' itemprop='headline'>
                <span class='uit-header__headline-kicker'>3,121 desperate journeys</span>
                <span class='uit-header__headline-main'>Exposing a week of chaos under zero&nbsp;tolerance</span>
            </h1>
            <img class='uit-header__image uit-header__image--mobile' src='{{ path }}/assets/header.jpg' />
            <img class='uit-header__image uit-header__image--desktop' src='{{ path }}/assets/header.png' />
            <p class='uit-header__standfirst' itemprop='description'>{{{ splitCopy standfirst }}}</p>
            <p class='uit-header__byline'><a href='https://www.theguardian.com/profile/olivia-solon'>Olivia Solon</a> and <a href='https://www.theguardian.com/profile/julia-carrie-wong'>Julia Carrie Wong</a></p>
            {{> partials/share }}
        </div>
    </div>
</div>