<div class='uit-key'>
    <p class='uit-key__label'>{{ label }}</p>
    <div class='uit-key__blocks'>
        <div class='uit-key__block uit-key__block--5'></div>
        <div class='uit-key__block uit-key__block--4'></div>
        <div class='uit-key__block uit-key__block--3'></div>
        <div class='uit-key__block uit-key__block--2'></div>
        <div class='uit-key__block uit-key__block--1'></div>
    </div>

    <div class='uit-key__scale'>
        <div class='uit-key__scale-entry'>1</div>
        <div class='uit-key__scale-entry'>{{ 1 }}</div>
        <div class='uit-key__scale-entry'>{{ 2 }}</div>
        <div class='uit-key__scale-entry'>{{ 3 }}</div>
        <div class='uit-key__scale-entry'>{{ 4 }} ></div>
    </div>
</div>