<div class='uit-related'>
    <div class='uit-container'>
        <div class='uit-related__header'>
            <h4 class='uit-related__title'>Related Stories</h4>
        </div>

        <div class='uit-related__items'>
            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://gu.com/p/9hb7p'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/ff56808ebef12136ddffefe354eba05ae9427da1/248_297_2674_1604/500.jpg' />
                    <div class='uit-related__headline'>'We are going to die from sadness': the fathers and sons reunited behind bars</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://gu.com/p/9hba6'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/d6671f6b3894314d6bea52b42e5051b45f07b68f/0_0_4000_2400/500.jpg' />
                    <div class='uit-related__headline'>Behind the viral fundraiser: meet the aid group reuniting families</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2018/jun/22/going-through-hell-at-the-border-parents-split-from-children-tell-of-anguish'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/3003235f6b33ec8af7daacd60f6c36f6a233128c/0_94_4500_2700/500.jpg' />
                    <div class='uit-related__headline'>'Going through hell' at the border: parents split from children tell of anguish</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2018/jun/21/tijuana-us-mexico-border-migrants-american-dream'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/fa8336602442abfd55204d8b2f7f18fbd22ce055/0_0_3000_1800/500.jpg' />
                    <div class='uit-related__headline'>Despite chaos at the border, migrants still hope to find the American dream</div>
                </a>
            </div>
        </div>
    </div>
</div>