.uit-body {
    p {
        @include bodyCopy();
        padding-bottom: 18px;
        margin: 0;
    }
}

.uit-drop {
    @include dropCap(4);
    font-weight: bold;
    color: $c-red;
}

.uit-subhead {
    @include banding($c-yellow);
    font-size: 28px;
    font-weight: bold;
}

.uit-button {
    @include button($c-white, $c-red);
}
