.uit-body {
    position: relative;
    z-index: 2;
    background-color: $c-white;

    a {
        color: $c-red;
        border-bottom: mix($c-red, $c-white, 30%) 1px solid;
        text-decoration: none;

        &:hover {
            border-bottom-color: $c-red;
        }
    }

    p {
        position: relative;
        z-index: 2;
        @include bodyCopy();
        padding-top: 6px;
        padding-bottom: 12px;
        margin: 0;
    }

    ul {
        margin: 0;
        margin-bottom: 12px;
        padding: 0;
        list-style: none;
        @include bodyCopy();
    }

    li {
        position: relative;
        padding: 0;
        text-indent: 1.1em;

        &:before {
            content: '';
            height: 0.8em;
            width: 0.8em;
            background-color: $c-red;
            border-radius: 200px;
            position: absolute;
            left: 0;
            top: 0.3em;
        }
    }

    img {
        width: 100%;
    }
}

.uit-drop {
    @include dropCap(4);
    font-weight: bold;
    color: $c-red;
}

img.uit-illo {
    width: 250px;
    margin-left: 24px;

    @include mq(desktop) {
        width: 320px;
    }
}

.uit-subhead {
    position: relative;
    z-index: 2;
    @include banding($c-yellow);
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 4px;

    @include mq(desktop) {
        font-size: 30px;
    }
}

.uit-section--top {
    .uit-subhead {
        padding-top: 32px;
        margin-bottom: -56px;

        @include mq(desktop) {
            padding-top: 56px;
            margin-bottom: -72px;
        }
    }
}

.uit-section--bottom {
    .uit-subhead {
        margin-top: -72px;
        margin-bottom: 32px;

        @include mq(desktop) {
            margin-top: -92px;
            margin-bottom: 48px;
        }
    }
}

.uit-button {
    @include button($c-white, $c-red);
}


.uit-break-block {
    margin: 80vh 0;

    p {
        @include bodyCopy();
        padding-top: 0;
        padding-bottom: 12px;
        margin: 0;
    }

    .uit-note p {
        font-family: 'Guardian Sans Web';
        font-size: 14px;
        line-height: 1.4;
        color: $c-dark-grey;
        padding-bottom: 0;
    }

    .uit-content {
        position: relative;
        z-index: 2;
        padding: 5px 10px;
        box-sizing: border-box;
        background-color: $c-white;
        border-top: 1px solid $c-light-grey;
        border-left: 1px solid $c-light-grey;

        &:before {
            display: none;
        }
    }
}
