.uit-canvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.uit-canvas__labels {
    position: relative;
    z-index: 5;
}

@keyframes fadeIn {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.uit-canvas__label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: $c-yellow;
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    padding: 0 4px;
    white-space: nowrap;
    animation: fadeIn 0.8s ease-in;
}