.uit-canvas {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;

    svg,
    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }

    svg {
        opacity: 0;
        transition: opacity 0.4s linear;

        &.is-current {
            opacity: 1;
        }
    }
}

.uit-canvas canvas {
    z-index: 2;
}

.uit-canvas svg {
    .country {
        fill: $c-white;
    }

    .state {
        fill: $c-white;
        stroke: $c-light-grey;
        stroke-width: 1;
    }

    .county {
        fill: transparent;
    }

    .river {
        fill: transparent;
        stroke: lighten($c-blue, 20%);
        opacity: 0.5;
        stroke-width: 2;
    }

    .border-section {
        fill: transparent;
        stroke: $c-dark-grey;
        stroke-width: 2;
    }

    .label__point {
        fill: $c-red;
    }

    .label__text {
        font-family: 'Guardian Sans Web';
        font-size: 14px;
        transform: translate(0, 18px);
        text-anchor: middle;

        @include mq(mobileLandscape) {
            transform: translate(0, -10px);
        }
    }

    .label--below .label__text {
        transform: translate(0, 18px);
    }

    .label--hide-on-mobile {
        @include mq($until: mobileLandscape) {
            display: none;
        }
    }

    &.nationality {
        .country {
            stroke: $c-light-grey;
            stroke-width: 1;
        }
    }
}

.uit-canvas__labels {
    position: relative;
    z-index: 5;
}

@keyframes fadeIn {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.uit-canvas__label {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    transform: scale(1.0, 1.0) translate(-50%, -50%);
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    white-space: nowrap;
    animation: fadeIn 0.8s ease-in;

    &--push-left {
        transform: scale(1.0, 1.0) translate(-100%, 0%);
    }

    &--push-right {
        transform: none;
//             transform: scale(1.0, 1.0) translate(-50%, -50%);
    }

    &--large {
        @include mq(tablet) {
            font-size: 20px;
            text-align: center;

            .uit-canvas__label-descriptor {
                display: block;
            }

            .uit-canvas__label-value {
                font-size: 28px;
            }
        }
    }

    &--stacked {
        text-align: center;

        .uit-canvas__label-descriptor {
            display: block;
        }
    }

    &--numberless {
        min-width: 50px;
        max-width: 80px;
        white-space: normal;
    }
}

.uit-canvas__label-descriptor {
    @include banding($c-yellow);
    color: $c-black;

    @include mq($until: mobileLandscape) {
        line-height: 1.3;
        padding-right: 4px;
        font-family: 'Guardian Sans Web';

        &__inner {
            padding-top: 2px;
        }
    }

    @include mq(mobileLandscape) {
        font-family: 'Guardian Egyptian Web';
        font-weight: 700;
        padding: 2px 4px;

        &__inner {
            padding-bottom: 2px;
        }
    }

}

.uit-canvas__label-value {
    background-color: $c-white;
    color: $c-red;
    font-family: 'Guardian Figures';
    padding: 1px 2px;
    white-space: nowrap;

    @include mq(mobileLandscape) {
        padding: 2px 4px;
    }
}

.uit-canvas__axis-label {
    position: absolute;
    text-align: center;
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    color: $c-black;
    animation: fadeIn 0.8s ease-in;

    span {
        position: relative;
        z-index: 2;
        padding: 0 8px;
        background-color: $c-off-white;
        white-space: nowrap;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        height: 1px;
        width: 100%;
        background-color: $c-light-grey;
    }
}

.grid-lines .tick line,
.domain {
    stroke: $c-light-grey;
}

.felony {
    fill: $c-yellow;
}

.misdemeanor {
    fill: $c-red;
}

.district-name {
    text-anchor: end;
    font-size: 14px;
    transform: translateY(24px);
    fill: $c-black;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Guardian Egyptian Web';
}

.district-percentage {
    font-family: 'Guardian Figures';
    font-size: 32px;
    fill: $c-red;
    transform: translate(4px, 26px);
}

.domain {
    display: none;
    opacity: 0;
}

.tick line {
    stroke: $c-light-grey;
    transform: translateY(16px);
}

.tick text {
    font-size: 14px;
    font-family: 'Guardian Sans Web';
    fill: $c-black;
    text-anchor: middle;
}

.is-mobile {
    .district-name {
        text-anchor: start;
        font-size: 18px;
        transform: translateY(10px);
    }

    .district-year {
        opacity: 0;
    }

    .tick line {
        stroke: $c-light-grey;
    }

    .district-percentage {
        font-family: 'Guardian Sans Web';
        font-size: 14px;
        transform: translate(4px, 12px);
    }
}